# Import des données de comptage 2018
> à partir du fichier __Q:\DAIT\TI\DREAL33\2019\C19SA0035_OTR-NA\Doc_travail\Donnees_source\CD23\2018_CD23_trafics.xls__

In [42]:
%load_ext autoreload
%autoreload 2
import sys
sys.path.append(r'C:\Users\martin.schoreisz\git\Outils\Outils\Martin_Perso')
import pandas as pd
import Connexion_Transfert as ct

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [59]:
# ouvrir le classeur
df_excel=pd.read_excel(r'Q:\DAIT\TI\DREAL33\2019\C19SA0035_OTR-NA\Doc_travail\Donnees_source\CD23\2018_CD23_trafics.xls',skiprows=11)
# renomer les champs
df_excel_rennome=df_excel.rename(columns={'1er trimestre  du 01 janvier au 31 mars':'1er_trim_TV', 'Unnamed: 9':'1er_trim_pc_pl',
                         '2ème trimestre du 01 avril au 30 juin':'2eme_trim_TV', 'Unnamed: 11':'2eme_trim_pc_pl',
                         '3ème trimestre du 01 juillet au 30 septembre':'3eme_trim_TV', 'Unnamed: 13':'3eme_trim_pc_pl',
                         '4ème trimestre du 01 octobre au 31 décembre':'4eme_trim_TV', 'Unnamed: 15':'4eme_trim_pc_pl',
                         'Unnamed: 17':'pc_pl_2018'})
#supprimer la 1ere ligne
df_excel_filtre=df_excel_rennome.loc[1:,:].copy()
#mise en forme attribut
df_excel_filtre['Route']=df_excel_filtre.apply(lambda x : str(x['Route']).upper(), axis=1)
#attribut id_comptag
for i in ['DEP','PR','ABS'] : 
    df_excel_filtre[i]=df_excel_filtre.apply(lambda x : str(int(x[i])),axis=1)
df_excel_filtre['id_comptag']=df_excel_filtre.apply(lambda x : '-'.join([x['DEP'],'D'+str(x['Route']),
                                                                         x['PR']+'+'+x['ABS']]),axis=1)

In [60]:
#test sur presence dans bdd
with ct.ConnexionBdd('gti_otv') as c :
    c.curs.execute("select distinct id_comptag from comptage.na_2010_2018_p where dep='23' order by id_comptag")
    listerecord=[record[0] for record in c.curs]
    for id_comptag in df_excel_filtre.id_comptag.tolist() : 
        if id_comptag in listerecord :
            print (f'{id_comptag} ok')
        else : 
            print (f'{id_comptag} nouveau')

23-D941-77+25 ok
23-D941-60+270 ok
23-D941-57+639 ok
23-D941-24+257 ok
23-D914-0+600 ok
23-D940-39+944 ok
23-D997-24+86 ok
23-D915-5+595 ok
23-D951-8+150 ok
23-D990-59+690 ok
23-D942-1+585 ok
23-D942-23+698 ok
23-D1-14+725 ok
23-D1-22+760 ok
23-D912-15+739 ok
23-D5-35+590 ok
23-D913-9+780 ok
23-D951-28+425 ok
23-D6-20+56 ok
23-D6-0+826 ok
23-D940-50+116 ok
23-D940-66+431 ok
23-D990-16+988 ok
23-D942-31+637 ok
23-D990-27+817 ok
23-D990-45+295 ok
23-D11-6+857 ok
23-D11-22+776 ok
23-D917-7+372 ok
23-D917-12+491 ok
23-D993-4+638 ok
23-D915-18+907 ok
23-D997-35+417 ok
23-D996-21+935 ok
23-D4-82+80 ok
23-D990-65+576 ok
23-D941A-4+172 ok
23-D982-1+210 ok
23-D997-13+862 ok
23-D982-17+780 ok
23-D982-36+433 ok
23-D8-33+506 ok
23-D912-42+22 ok
23-D4-19+290 ok
23-D4-35+917 ok
23-D940-34+578 ok
23-D940-20+284 ok
23-D941-6+152 ok
23-D912-4+875 ok
23-D990-34+578 ok
23-D55-20+284 ok
23-D941-6+152 ok
23-D982-4+875 ok

In [9]:
df_excel.head(5)

,DEP,Route,PR,ABS,Géo (lambert 93),Unnamed: 5,Lieu dit,Type,1er trimestre du 01 janvier au 31 mars,Unnamed: 9,2ème trimestre du 01 avril au 30 juin,Unnamed: 11,3ème trimestre du 01 juillet au 30 septembre,Unnamed: 13,4ème trimestre du 01 octobre au 31 décembre,Unnamed: 15,TMJA 2018,Unnamed: 17
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,VL +PL,% PL,VL +PL,% PL,VL +PL,% PL,VL +PL,% PL,VL +PL,% PL
1,23.0,941,77.0,25.0,"x: 597509,852","y: 6539287,968",La Gasne du Clos,T,2308,14.73,2915,9.61,2869,12.11,2560,14.26,2663,12.5
2,23.0,941,60.0,270.0,"x: 609478,15","y: 6543461,17",Pontarion,T,2880,8.68,3185,8.41,3309,8.07,3132,8.56,3126.5,8.42
3,23.0,941,57.0,639.0,"x: 613230,078","y: 6543736,486",Les Combes,T,1992,9.84,2232,8.92,2624,6.69,2083,10.37,2232.75,8.81
4,23.0,941,24.0,257.0,"x: 642139,574","y: 6538752,021",La Croix de Vedrenne,T,2654,9.98,2809,12.53,3737,9.47,2222,12.33,2855.5,10.9

In [38]:
#test sur presence dans bdd

In [39]:
df_excel_filtre

,DEP,Route,PR,ABS,Géo (lambert 93),Unnamed: 5,Lieu dit,Type,1er_trim_TV,1er_trim_pc_pl,2eme_trim_TV,2eme_trim_pc_pl,3eme_trim_TV,3eme_trim_pc_pl,4eme_trim_TV,4eme_trim_pc_pl,TMJA 2018,pc_pl_2018,id_comptag
1,23,941,77,25,"x: 597509,852","y: 6539287,968",La Gasne du Clos,T,2308,14.73,2915,9.61,2869,12.11,2560,14.26,2663,12.5,23-D941-77+25
2,23,941,60,270,"x: 609478,15","y: 6543461,17",Pontarion,T,2880,8.68,3185,8.41,3309,8.07,3132,8.56,3126.5,8.42,23-D941-60+270
3,23,941,57,639,"x: 613230,078","y: 6543736,486",Les Combes,T,1992,9.84,2232,8.92,2624,6.69,2083,10.37,2232.75,8.81,23-D941-57+639
4,23,941,24,257,"x: 642139,574","y: 6538752,021",La Croix de Vedrenne,T,2654,9.98,2809,12.53,3737,9.47,2222,12.33,2855.5,10.9,23-D941-24+257
5,23,914,0,600,"x: 610943,289","y: 6563834,982",Les Coussières,T,2579,2.95,2550,3.69,2561,3.28,2563,3,2563.25,3.23,23-D914-0+600
6,23,940,39,944,"x: 614959,914","y: 6566217,559",Le Cher du Cerisier,T,6373,4.46,7228,4.87,6592,4.55,6187,4.8,6595,4.67,23-D940-39+944
7,23,997,24,86,"x: 641741,004","y: 6572232,378",Les Vétizons,T,1173,10.14,1493,7.77,1466,8.19,1375,9.02,1376.75,8.7,23-D997-24+86
8,23,915,5,595,"x: 645047,446","y: 6566162,007",La Brande du Brancheraud,T,1574,8.64,1883,7.81,1853,8.09,1691,7.73,1750.25,8.06,23-D915-5+595
9,23,951,8,150,"x: 590181,256","y: 6576005,909",Le Masrouzeau,T,1694,7.02,1741,7.52,1773,7.33,1840,6.63,1762,7.12,23-D951-8+150
10,23,990,59,690,"x: 637788,572","y: 6546292,863",Le Bois de Plagne,T,2574,6.64,2716,7.88,3182,5.88,2341,8.76,2703.25,7.19,23-D990-59+690
11,23,942,1,585,"x: 636253,671","y: 6545178,378",Chaussidoux-Aire de repos,T,1842,3.96,2062,4.17,2251,3.75,2083,4.27,2059.5,4.03,23-D942-1+585
12,23,942,23,698,"x: 621210,942","y: 6557274,865",Plaine de la Correspondance,T,3212,4.42,3439,4.57,3404,4.73,3506,4.42,3390.25,5.54,23-D942-23+698
13,23,1,14,725,"x: 583688,619","y: 6569958,755",Le Poirier,T,1679,2.92,1793,3.51,1779,3.09,1891,5.02,1785.5,3.67,23-D1-14+725
14,23,1,22,760,"x: 582692,316","y: 6578962,735",Vareilles,T,2198,8.05,2324,8.95,2234,9.62,2359,7.72,2278.75,8.58,23-D1-22+760
15,23,912,15,739,"x: 595806,067","y: 6565049,395",Ardannes,T,1622,6.35,1898,5.64,1674,5.91,1570,5.16,1691,5.77,23-D912-15+739
16,23,5,35,590,"x: 598112,84","y: 6573206,07",Etang du Bourdeau,T,2496,5.69,2591,5.48,2507,5.9,2446,5.68,2510,5.69,23-D5-35+590
17,23,913,9,780,"x: 596097,819","y: 6583190,191",La Coquetière,T,942,5.84,1096,5.38,1044,6.13,970,5.98,1013,5.82,23-D913-9+780
18,23,951,28,425,"x: 606284,116","y: 6586219,456",Chambon Ste Croix,T,767,10.43,807,9.67,810,9.01,795,9.69,794.75,9.69,23-D951-28+425
19,23,6,20,56,"x: 615099,459","y: 6589064,113",Les Rochelas,T,1016,8.96,1031,8.92,1074,8.47,965,8.91,1021.5,8.81,23-D6-20+56