In [5]:
%load_ext autoreload
%autoreload 2
import pandas as pd
import sys, os
sys.path.append(r'C:\Users\Martin\git\Outils\Outils\Martin_Perso')
import Connexion_Transfert as ct

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [306]:
df=pd.read_excel(r"Q:\DAIT\TI\DREAL33\2019\C19SA0035_OTR-NA\Doc_travail\Donnees_source\CD40\Trafics 2018 Landes\comptage_B152\ST_AVIT\040.2020.00\B152\2018 TV.xls",
             headers=None, skiprows=1)

In [307]:
df2=df.dropna(how='all').dropna(axis=1,how='all')
section='040.'+df2.loc[0,'Unnamed: 125'].split(' ')[1]
vma=int(df2.loc[4,'Unnamed: 0'].split(' : ')[1][:2])
id_comptag='40-'+'D'+str(int(df2.loc[4,'Unnamed: 141'][4:]))+'-'+df2.loc[4,'Unnamed: 125'][3:].replace(' ','+')
tmja=df2.loc[18,'Unnamed: 107']
pc_pl=df2.loc[19,'Unnamed: 107']

In [311]:
donnees=df2.loc[[7,18,19],['Unnamed: 13', 'Unnamed: 23', 'Unnamed: 30',
                   'Unnamed: 37', 'Unnamed: 44', 'Unnamed: 51', 'Unnamed: 58',
                   'Unnamed: 65', 'Unnamed: 72', 'Unnamed: 79', 'Unnamed: 86',
                   'Unnamed: 93', 'Unnamed: 100', 'Unnamed: 107']].dropna(axis=1,how='all')
    #renommer les colonnes
donnees.columns=[element.replace('é','e').replace('.','').lower() for element in list(donnees.loc[7])]
    #remplacer l'annee en string et ne conserver 
donnees=donnees.drop(7).replace(['D.Moy.Jour', '% PL'],['tmja','pc_pl'])
    #inserer les valeusr qui vont bien
donnees['annee']='2018'
donnees['id_comptag']=id_comptag

In [312]:
donnees

,libelle,janv,fevr,mars,avr,mai,juin,juil,aout,sept,oct,nov,dec,annee,id_comptag
18,tmja,12251.000000,12518.000000,13477.000000,14117.000000,14233.000000,13928.000000,15690.000000,15758.000000,14662.000000,14271.000000,13013.000000,12631.000000,2018,40-D932-34+900
19,pc_pl,12.499046,13.104558,12.881684,13.229676,13.499296,11.480232,11.930344,10.994518,12.385532,13.282294,13.273649,11.356085,2018,40-D932-34+900

In [313]:
cols=donnees.columns.tolist()
cols_arrangees=cols[-1:]+cols[:1]+cols[-2:-1]+cols[1:-2]
donnees=donnees[cols_arrangees]
donnees.columns=['id_comptag','donnees_type','annee','janv','fevr','mars','avri','mai','juin','juil','aout','sept','octo','nove','dece']

In [7]:
with ct.ConnexionBdd('local_otv') as c : 
    c.curs.execute("select distinct franchisst from referentiel.troncon_route_bdt17_ed15_l")
    for record in c.curs : 
        print(record)

('Pont',)
('NC',)
('Gué ou radier',)
('Tunnel',)