In [139]:
%load_ext autoreload
%autoreload 2
import sys #c'est pas propre mais pour le moment pour importer mes modules perso dans le notebook je ne sais pas faire
sys.path.append(r'C:\Users\martin\git\Outils\Outils\Martin_Perso')
sys.path.append(r'C:\Users\martin\git\otv\otv\Transfert_Donnees')
import agrege_troncon as at
import Connexion_Transfert as ct
import matplotlib, os, fiona
import geopandas as gp
import pandas as pd
import numpy as np
from datetime import datetime
import Connexion_Transfert as ct
from shapely.wkt import loads
from shapely.ops import nearest_points, polygonize, linemerge
import Outils
#pd.set_option('display.max_colwidth', 1000)
pd.set_option('display.max_columns', 50)
pd.set_option('display.max_colwidth', 5000)

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

# IMPORTER LES DONNEES 
> depuis la base de données locale, en ne prenant en compte que les lignes qui intersectent une zone carré au N-O

In [140]:
df=at.import_donnes_base('local_otv')

>Mise en forme et définition des voies à 2 chaussées

In [141]:
nature_2_chaussees=['Route à 2 chaussées','Quasi-autoroute','Autoroute']
#donnees generale du jdd
#df.set_index('id_ign', inplace=True)  # passer l'id_ign commme index ; necessaire sinon pb avec geometrie vu comme texte
df2_chaussees=df.loc[df['nature'].isin(nature_2_chaussees)] #isoler les troncon de voies decrits par 2 lignes

# 1. BDD DES RONDS POINTS

In [142]:
df_avec_rd_pt, carac_rd_pt=at.identifier_rd_pt(df)

# 2. TRAITEMENTS 
> La base c'est : 
- regrouper les lignes qui se suivent
- trouver les lignes d'arret
- trouver les lignes suivantes
- voir le cas des lignes suivantes : 
    - rd point
    - mm route qui se sépare
    - rien

><br> L'idée c'est ça  : on met la premiere ligne a tester dans une liste, on l'utilise et on stocke les lignes associées dans une autre liste. ensuite on check les lignes suivantes : si elles sont dans un cas où il faut continuer les traitements, on remplace la ligne de départ dans la liste de départ par ces nouvelles lignes, pour lesquelles on applique de nouveau la recherche des lignes qui se suivent. tant que la liste des lignes suivantes est pa vide on reste dans une boucle while

## 2.1 Troncons de base

In [248]:
# ligne a tester : TRONROUT0000000339411609 TRONROUT0000000032869130 TRONROUT0000000032859410
df_lignes=df_avec_rd_pt.set_index('id_ign')#mettre l'id_ign en index
id_lignes='TRONROUT0000000247648093'
#trouver tous les troncons proches qui se suivent
#list_troncon=[id_ligne]+[a for a in at.liste_troncon_base(id_ligne,df_lignes)]
list_troncon=at.liste_complete_tronc_base(id_lignes,df_lignes,[])

## 2.2 lignes d'arret

In [249]:
#trouver les troncons de debut et de fin :ceux pour lesquels on a un nombre de ligne sur target source >2
dico_deb_fin=at.deb_fin_liste_tronc_base(df_lignes, list_troncon)

In [251]:
ligne='TRONROUT0000000247648093'
voie=dico_deb_fin[ligne]['voie']
noeud=dico_deb_fin[ligne]['num_node']

## 2.3 lignes suivantes

In [252]:
#vérifier si une ligne touche un rd point
# aprtir d'une ligne et d'un numero de noeud, on récupère les lignes qui touchent
lignes_adj=df_lignes.loc[((df_lignes['source']==noeud)|(df_lignes['target']==noeud))&(df_lignes.index!='TRONROUT0000000247648093')]

In [253]:
lignes_adj

,geom,id,nature,numero,importance,cl_admin,gestion,mise_serv,fictif,franchisst,largeur,z_ini,z_fin,nb_voies,sens,etat,long_km,coment_cpt,src_cpt,id_comptag,obs_supl,ann_pt,coment_tmj,tmja,tmja_final,...,vts_osm,vts_modif,vts_vl_f,vts_pl_f,codau,codau_cont,tmja_cont,pc_pl_cont,source,target,recup,attr_modif,codevoie_d,id_tronc_elem,nb_intrsct_src,src_geom,nb_intrsct_tgt,tgt_geom,id_rdpt,nb_rte_rdpt,nom_rte_rdpt,codevoie_rdpt,nb_obj_sig_entrant,valeur_sens,id_ign_entrant
id_ign,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
TRONROUT0000000032850959,"(LINESTRING (364912.5999999996 6571607.599999991, 364980.8999999996 6571580.099999991, 365006.9999999997 6571568.399999994, 365009.3999999996 6571566.999999991, 365027.3999999997 6571557.099999993, 365077.9999999997 6571525.699999992))",24606,Route à 1 chaussée,D201,3,Départementale,17,NR,Non,NC,7.5,11.6,11.2,2.0,Double,NR,0.185103,linearisation,otv,17-D201-5+200,None,2015,None,9199.0,9199.0,...,None,gsw,70.0,64.0,None,None,None,None,63730,25969,None,None,NR,NaN,3,POINT(364912.6 6571607.59999999),2,POINT(365078 6571525.69999999),NaN,NaN,NaN,NaN,NaN,NaN,NaN
TRONROUT0000000247648092,"(LINESTRING (364851.8999999997 6571629.499999993, 364905.1999999996 6571608.199999993, 364912.5999999996 6571607.599999991))",224627,Route à 2 chaussées,D201,3,Départementale,17,NR,Non,NC,3.0,11.7,11.6,1.0,Inverse,NR,0.064823,linearisation,otv,17-D201-5+200,None,2015,/2,9199.0,4600.0,...,None,gsw,70.0,64.0,None,None,None,None,88320,63730,None,None,173600131,NaN,2,POINT(364851.9 6571629.49999999),3,POINT(364912.6 6571607.59999999),NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 2.4 cas particulier

> ### 2.4.1 rd pt

In [237]:
#verfier si une ligne rouche un rd point et recup le numero si c'est le cas
check_rdpt, num_rdpt=at.verif_touche_rdpt(lignes_adj)
if check_rdpt : 
    lignes_rdpt, lignes_sortantes=at.recup_lignes_rdpt(carac_rd_pt,num_rdpt,list_troncon,'NC')

> ### 2.4.2 mm route qui se sépare

In [25]:
#comparer le nom de voie de la ligne issue de debut_fin avec celui des lignes adjacentes
if (voie==lignes_adj.numero).all() : 
    ligne_mm_voie=lignes_adj.index.tolist()
    list_troncon+=ligne_mm_voie
    lignes_suivantes_mm_nom=ligne_mm_voie #on recommence les traitements avec les lignes prises

> ### 2.4.2 trouver les routes coinces entre 2 voies qui se sépare -<|
>> ce sont des lignes qui  dont : 
- le debut et / ou la fin touche 3 lignes
- les lignes qui les touchent se toucehnt aussi

In [61]:
# trouver les lgnes qui en touchent 3 ou plus au debut et à la fin
lignes_sup3_tch=df_lignes.loc[(df_lignes['nb_intrsct_src']>2)&(df_lignes['nb_intrsct_tgt']>2)].reset_index()[['id_ign', 'source','target']]

In [58]:
%%time
#coupler les lignes avec celles qui se touchent
def ligne_touchent(source, target, df_lignes, id_ign) : 
    lignes=df_lignes.loc[(df_lignes.source.isin([source, target]))|(df_lignes.target.isin([source, target]))
                        &(df_lignes['id_ign']!=id_ign)]
    return lignes.id_ign.tolist()
lignes_sup3_tch['autre_ligne_tch']=lignes_sup3_tch.apply(lambda x : ligne_touchent(x['source'], x['target'],
                                                         lignes_sup3_tch, x['id_ign']), axis=1)

Wall time: 38.5 s

In [76]:
liste_lgn_src=lignes_sup3_tch.groupby('source').agg({'id_ign':lambda x : tuple(x)})
liste_lgn_tgt=lignes_sup3_tch.groupby('target').agg({'id_ign':lambda x : tuple(x)})
lignes_sup3_tch.merge(liste_lgn_src, left_on='source', right_index=True).merge(
left_on='target')

,id_ign_x,source,target,id_ign_y
0,TRONROUT0000000032913261,90125,85128,"(TRONROUT0000000032913261,)"
1,TRONROUT0000000039536944,69665,62259,"(TRONROUT0000000039536944, TRONROUT0000000039536936, TRONROUT0000000129676590)"
136,TRONROUT0000000039536936,69665,89964,"(TRONROUT0000000039536944, TRONROUT0000000039536936, TRONROUT0000000129676590)"
208,TRONROUT0000000129676590,69665,48718,"(TRONROUT0000000039536944, TRONROUT0000000039536936, TRONROUT0000000129676590)"
2,TRONROUT0000000314695530,87573,90311,"(TRONROUT0000000314695530, TRONROUT0000000314695529)"
4480,TRONROUT0000000314695529,87573,67978,"(TRONROUT0000000314695530, TRONROUT0000000314695529)"
3,TRONROUT0000000039536946,36137,90473,"(TRONROUT0000000039536946, TRONROUT0000000039536924, TRONROUT0000000039536942)"
6079,TRONROUT0000000039536924,36137,36138,"(TRONROUT0000000039536946, TRONROUT0000000039536924, TRONROUT0000000039536942)"
6417,TRONROUT0000000039536942,36137,85212,"(TRONROUT0000000039536946, TRONROUT0000000039536924, TRONROUT0000000039536942)"
4,TRONROUT0000000032868183,31583,11714,"(TRONROUT0000000032868183,)"
5,TRONROUT0000000032946008,979,41642,"(TRONROUT0000000032946008,)"
6,TRONROUT0000000314695524,90311,84681,"(TRONROUT0000000314695524,)"
7,TRONROUT0000000032912909,7533,38991,"(TRONROUT0000000032912909,)"
8,TRONROUT0000000113490390,62575,7522,"(TRONROUT0000000113490390,)"
9,TRONROUT0000000318450099,12871,379,"(TRONROUT0000000318450099, TRONROUT0000000318450180)"
134,TRONROUT0000000318450180,12871,33566,"(TRONROUT0000000318450099, TRONROUT0000000318450180)"
10,TRONROUT0000000032850838,24049,38177,"(TRONROUT0000000032850838, TRONROUT0000000032850858)"
4135,TRONROUT0000000032850858,24049,80601,"(TRONROUT0000000032850838, TRONROUT0000000032850858)"
11,TRONROUT0000000032869702,26672,26673,"(TRONROUT0000000032869702, TRONROUT0000000207506113)"
4369,TRONROUT0000000207506113,26672,20828,"(TRONROUT0000000032869702, TRONROUT0000000207506113)"
12,TRONROUT0000000339411586,12429,12430,"(TRONROUT0000000339411586,)"
13,TRONROUT0000000032911035,61232,15841,"(TRONROUT0000000032911035,)"
14,TRONROUT0000000032859622,271,272,"(TRONROUT0000000032859622,)"
15,TRONROUT0000000098452912,6299,37269,"(TRONROUT0000000098452912,)"
16,TRONROUT0000000032846705,51323,50207,"(TRONROUT0000000032846705, TRONROUT0000000115449808)"
6527,TRONROUT0000000115449808,51323,22363,"(TRONROUT0000000032846705, TRONROUT0000000115449808)"
17,TRONROUT0000000032852460,2216,29382,"(TRONROUT0000000032852460, TRONROUT0000000113381214)"
6328,TRONROUT0000000113381214,2216,21918,"(TRONROUT0000000032852460, TRONROUT0000000113381214)"
18,TRONROUT0000000130606391,14144,1542,"(TRONROUT0000000130606391, TRONROUT0000000129757081)"
2033,TRONROUT0000000129757081,14144,14145,"(TRONROUT0000000130606391, TRONROUT0000000129757081)"
...,...,...,...,...
7969,TRONROUT0000000032932841,74893,6284,"(TRONROUT0000000032932841,)"
7971,TRONROUT0000000204719300,9914,21667,"(TRONROUT0000000204719300,)"
7972,TRONROUT0000000032845152,77807,92799,"(TRONROUT0000000032845152,)"
7975,TRONROUT0000000032845437,52300,42964,"(TRONROUT0000000032845437,)"
7978,TRONROUT0000000113489754,16159,88029,"(TRONROUT0000000113489754,)"
7979,TRONROUT0000000039659108,20654,20655,"(TRONROUT0000000039659108,)"
7981,TRONROUT0000000032839763,11330,11331,"(TRONROUT0000000032839763,)"
7985,TRONROUT0000000032925964,17503,1179,"(TRONROUT0000000032925964,)"
7986,TRONROUT0000000032930819,6850,6851,"(TRONROUT0000000032930819,)"
7988,TRONROUT0000000204719302,21667,9913,"(TRONROUT0000000204719302,)"
7992,TRONROUT0000000032905161,76194,62343,"(TRONROUT0000000032905161,)"
7994,TRONROUT0000000244265522,4501,51370,"(TRONROUT0000000244265522,)"
7996,TRONROUT0000000032954985,26635,24192,"(TRONROUT0000000032954985,)"
7997,TRONROUT0000000032935362,88853,8520,"(TRONROUT0000000032935362,)"
7998,TRONROUT0000000032937180,85463,52844,"(TRONROUT0000000032937180,)"
7999,TRONROUT0000000207506079,2655,2553,"(TRONROUT0000000207506079,)"
8000,TRONROUT0000000217441852,50028,61777,"(TRONROUT0000000217441852,)"
8001,TRONROUT0000000246237474,70777,70778,"(TRONROUT0000000246237474,)"
8002,TRONROUT0000000032901869,46130,63153,"(TRONROUT0000000032901869,)"
8008,TRONROUT0000000207507423,92797,88038,"(TRONROUT0000000207507423,)"
8010,TRONROUT0000000246054223,64274,87442,"(TRONROUT0000000246054223,)"
8015,TRONROUT0000000211249485,73559,80515,"(TRONROUT0000000211249485,)"
8020,TRONROUT0000000032837377,21222,82495,"(TRONROUT0000000032837377,)"
8022,TRONROUT0000000032871703,11487,67816,"(TRONROUT0000000032871703,)"
8025,TRONROUT0000000032829984,1945,24927,"(TRONROUT0000000032829984,)"
8028,TRONROUT0000000039536932,36138,85212,"(TRONROUT0000000039536932,)"
8029,TRONROUT0000000032851692,88408,3244,"(TRONROUT0000000032851692,)"
8031,TRONROUT0000000032884064,63013,81980,"(TRONROUT0000000032884064,)"
8032,TRONROUT0000000032935157,616,55149,"(TRONROUT0000000032935157,)"
8037,TRONROUT0000000032832158,50351,77196,"(TRONROUT0000000032832158,)"

# Tests de deroulement global

In [322]:
def lignes_troncon_elem(df_avec_rd_pt, ligne) : 
    """
    trouver les lignes qui appartiennent au même troncon elementaire que la ligne de depart
    en entree : 
        df_avec_rd_pt : df des lignes Bdtopo
        ligne : string : id_ign de la ligne a tester
    en sortie :
        liste_troncon_finale : set de string des id_ign des lignes réunies dans le troncon elementaire
    """
    df_lignes2=df_avec_rd_pt.set_index('id_ign')#mettre l'id_ign en index
    lignes_a_tester, liste_troncon_finale, list_troncon2=[ligne],[],[]

    while lignes_a_tester :
        for id_lignes2 in lignes_a_tester : 
            list_troncon2=at.liste_complete_tronc_base(id_lignes2,df_lignes2,liste_troncon_finale)
            liste_troncon_finale+=list_troncon2
            dico_deb_fin2=at.deb_fin_liste_tronc_base(df_lignes2, list_troncon2)
            for k, v in dico_deb_fin2.items() :
                lignes_adj2=df_lignes2.loc[((df_lignes2['source']==v['num_node'])|
                                          (df_lignes2['target']==v['num_node']))&
                                         (df_lignes2.index!=k)&(~df_lignes2.index.isin(liste_troncon_finale))]
                if lignes_adj2.empty : 
                    continue
                check_rdpt2, num_rdpt2=at.verif_touche_rdpt(lignes_adj2)
                # on attaque la liste des cas possible
                #1. Rond point
                if check_rdpt2 : 
                    lignes_rdpt2, lignes_sortantes2=at.recup_lignes_rdpt(carac_rd_pt,num_rdpt2,list_troncon2,v['voie'])
                    liste_troncon_finale+=lignes_rdpt2
                    lignes_a_tester+=lignes_sortantes2
                #2. route qui se sépare
                elif at.recup_route_split(v['voie'], lignes_adj2) : 
                    liste_rte_separe=at.recup_route_split(v['voie'], lignes_adj2)
                    lignes_a_tester+=liste_rte_separe        
            lignes_a_tester=[x for x in lignes_a_tester if x not in liste_troncon_finale]
    liste_troncon_finale=list(set(liste_troncon_finale))
    return liste_troncon_finale

# 3. Boucler sur 'ensembl des lignes
On va faire tourner les traitements sur l'ensemble des lignes, en partant de la liste des id_ign, pour chaque ligne : 
- si la ligne ne remplit pas les critères d'exclusion on continu, sinon on passe à la suivante
- fonction de recherche des lignes associées
- df des association
- filtre de la liste des id_ign de base

In [335]:
# liste des id_ign
liste_id_ign_base=np.array(df_avec_rd_pt.id_ign.tolist())

In [336]:
dico_fin={}
lignes_traitees=np.array([])
for i,l in enumerate(liste_id_ign_base) :
    if len(lignes_traitees)==len(liste_id_ign_base) : break
    if l in lignes_traitees : 
        continue
    if i%100==0 : 
        print(i, datetime.now(), f'nb lignes traitees : {len(lignes_traitees)}')
    #critère d'exclusion : si la ligne est une bretelle ou si la ligne à un nb de lignes qui intersecte debut et fin >2, ou si c'est un rd pt
    ligne=df_avec_rd_pt.set_index('id_ign').loc[l]
    if ((ligne['nb_intrsct_src'] and ligne['nb_intrsct_tgt']) > 2) or ligne['nature']=='Bretelle' or ~np.isnan(ligne['id_rdpt']):
        continue
    else : 
        liste_ligne=lignes_troncon_elem(df_avec_rd_pt, l)  
        lignes_traitees=np.append(lignes_traitees,liste_ligne)
    for ligne in liste_ligne : 
        dico_fin[ligne]=i

c:\users\martin.schoreisz\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  """

0 2019-09-03 15:12:11.840776 nb lignes traitees : 0
100 2019-09-03 15:13:09.097632 nb lignes traitees : 4380

In [344]:
df_test=pd.DataFrame.from_dict(dico_fin, orient='index').reset_index()
df_test.columns=['id','idtronc']
df_test.loc[df_test.duplicated('id')]

Empty DataFrame
Columns: [id, idtronc]
Index: []

In [26]:
%%time
a=np.array([i for i in range(100000)])
c=[]
for i,b in enumerate(a) :
    if b not in a :
        continue
    c=[b,b+1]
    a=a[np.isin(a,c, invert=True)]
    if i%50000==0 : print(i)

{'TRONROUT0000000339411580',
 'TRONROUT0000000339411600',
 'TRONROUT0000000339411601',
 'TRONROUT0000000339411606',
 'TRONROUT0000000339411607',
 'TRONROUT0000000339411608',
 'TRONROUT0000000339411609',
 'TRONROUT0000000339411610',
 'TRONROUT0000000339411611'}

# SUITE

In [114]:
toto=list(at.recup_troncon_elementaire('TRONROUT0000000032862365',df,[]))

In [115]:
toto.append('TRONROUT0000000032862365')

In [ ]:
toto

In [117]:
at.recup_troncon_parallele_v2(df,toto)

C:\Users\martin.schoreisz\git\otv\otv\Transfert_Donnees\agrege_troncon.py:279: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  ligne_filtres['distance']=ligne_filtres.geom.apply(lambda x : gdf_lignes2.centroid.distance(x))

'TRONROUT0000000032876496'

In [ ]:
for i in toto :
    tata=at.affecter_troncon_ligne(i,df,df2_chaussees)
    print(len(tata))

In [12]:
dico=at.affecter_troncon(df,df2_chaussees)

0eme occurence : TRONROUT0000000084053027 à 18:23:53 nb ligne traite : 0, nb ligne differente=0
indexError ligne  TRONROUT0000000032954220
indexError ligne  TRONROUT0000000033016282
indexError ligne  TRONROUT0000000249471326
indexError ligne  TRONROUT0000000336640149
indexError ligne  TRONROUT0000000224966440
indexError ligne  TRONROUT0000000032833606
indexError ligne  TRONROUT0000000032895598
indexError ligne  TRONROUT0000000032991823
indexError ligne  TRONROUT0000000223846575
indexError ligne  TRONROUT0000000255628539
indexError ligne  TRONROUT0000000032895522
indexError ligne  TRONROUT0000000032843156
indexError ligne  TRONROUT0000000032966066
indexError ligne  TRONROUT0000000129676068
indexError ligne  TRONROUT0000000032855812
indexError ligne  TRONROUT0000000033029153
indexError ligne  TRONROUT0000000323460798
indexError ligne  TRONROUT0000000032937456
indexError ligne  TRONROUT0000000089679809
indexError ligne  TRONROUT0000000211249489
5000eme occurence : TRONROUT0000000032859682 à 18:48:55 nb ligne traite : 32803, nb ligne differente=32803
indexError ligne  TRONROUT0000000033039887
indexError ligne  TRONROUT0000000249471289
indexError ligne  TRONROUT0000000273289060
indexError ligne  TRONROUT0000000089680356
indexError ligne  TRONROUT0000000032852004
indexError ligne  TRONROUT0000000032966024
indexError ligne  TRONROUT0000000032985346
indexError ligne  TRONROUT0000000211430256
indexError ligne  TRONROUT0000000336641185
indexError ligne  TRONROUT0000000032939836
indexError ligne  TRONROUT0000000220168691
indexError ligne  TRONROUT0000000226901122
indexError ligne  TRONROUT0000000318145727
indexError ligne  TRONROUT0000000224966445
10000eme occurence : TRONROUT0000000032882286 à 19:06:30 nb ligne traite : 49930, nb ligne differente=49930
indexError ligne  TRONROUT0000000032910829
indexError ligne  TRONROUT0000000228389201
indexError ligne  TRONROUT0000000129676347
indexError ligne  TRONROUT0000000220761623
indexError ligne  TRONROUT0000000098462823
indexError ligne  TRONROUT0000000032945581
indexError ligne  TRONROUT0000000226901119
indexError ligne  TRONROUT0000000032895811
indexError ligne  TRONROUT0000000220235164
indexError ligne  TRONROUT0000000032970400
indexError ligne  TRONROUT0000000032857834
indexError ligne  TRONROUT0000000204719248
indexError ligne  TRONROUT0000000280784899
15000eme occurence : TRONROUT0000000033045774 à 19:19:23 nb ligne traite : 62588, nb ligne differente=62588
indexError ligne  TRONROUT0000000032958312
indexError ligne  TRONROUT0000000032986807
indexError ligne  TRONROUT0000000336160525
indexError ligne  TRONROUT0000000302053388
indexError ligne  TRONROUT0000000032892920
indexError ligne  TRONROUT0000000032898124
indexError ligne  TRONROUT0000000032843557
indexError ligne  TRONROUT0000000220761624
indexError ligne  TRONROUT0000000253959502
indexError ligne  TRONROUT0000000033001111
indexError ligne  TRONROUT0000000032999540
indexError ligne  TRONROUT0000000107259522
indexError ligne  TRONROUT0000000247510344
20000eme occurence : TRONROUT0000000032934392 à 19:31:23 nb ligne traite : 71807, nb ligne differente=71807
indexError ligne  TRONROUT0000000033000676
indexError ligne  TRONROUT0000000032966057
indexError ligne  TRONROUT0000000032930883
indexError ligne  TRONROUT0000000249470976
indexError ligne  TRONROUT0000000032928393
indexError ligne  TRONROUT0000000112536077
indexError ligne  TRONROUT0000000301144126
indexError ligne  TRONROUT0000000219979324
indexError ligne  TRONROUT0000000229443458
25000eme occurence : TRONROUT0000000032828056 à 19:39:47 nb ligne traite : 79076, nb ligne differente=79076
indexError ligne  TRONROUT0000000032987038
indexError ligne  TRONROUT0000000301134430
indexError ligne  TRONROUT0000000032999536
30000eme occurence : TRONROUT0000000032835688 à 19:45:03 nb ligne traite : 82867, nb ligne differente=82867
indexError ligne  TRONROUT0000000287746996
indexError ligne  TRONROUT0000000227870945
35000eme occurence : TRONROUT0000000032956199 à 19:50:11 nb ligne traite : 85766, nb ligne differente=85766
indexError ligne  TRONROUT0000000039536317
indexError ligne  TRONROUT0000000130608456
indexError ligne  TRONROUT0000000032986811
40000eme occurence : TRONROUT0000000032994014 à 19:57:18 nb ligne traite : 89825, nb ligne differente=89825
indexError ligne  TRONROUT0000000032843584
indexError ligne  TRONROUT0000000032865362
indexError ligne  TRONROUT0000000211249540
indexError ligne  TRONROUT0000000032895374
45000eme occurence : TRONROUT0000000032872086 à 20:03:31 nb ligne traite : 93504, nb ligne differente=93504
indexError ligne  TRONROUT0000000032900009
indexError ligne  TRONROUT0000000032843563
indexError ligne  TRONROUT0000000032926691
50000eme occurence : TRONROUT0000000032949389 à 20:08:40 nb ligne traite : 96414, nb ligne differente=96414
indexError ligne  TRONROUT0000000249471036
indexError ligne  TRONROUT0000000033000686
55000eme occurence : TRONROUT0000000249471201 à 20:12:42 nb ligne traite : 98535, nb ligne differente=98535
60000eme occurence : TRONROUT0000000032867879 à 20:14:28 nb ligne traite : 99565, nb ligne differente=99565
indexError ligne  TRONROUT0000000201941200
65000eme occurence : TRONROUT0000000033044083 à 20:16:43 nb ligne traite : 100550, nb ligne differente=100550
70000eme occurence : TRONROUT0000000032827179 à 20:19:38 nb ligne traite : 101852, nb ligne differente=101852
75000eme occurence : TRONROUT0000000032866209 à 20:22:17 nb ligne traite : 103062, nb ligne differente=103062
indexError ligne  TRONROUT0000000070734678
80000eme occurence : TRONROUT0000000032918745 à 20:25:33 nb ligne traite : 104416, nb ligne differente=104416
85000eme occurence : TRONROUT0000000032903555 à 20:27:07 nb ligne traite : 105019, nb ligne differente=105019
90000eme occurence : TRONROUT0000000033032013 à 20:28:45 nb ligne traite : 105563, nb ligne differente=105563
95000eme occurence : TRONROUT0000000032936507 à 20:32:09 nb ligne traite : 106129, nb ligne differente=106129
100000eme occurence : TRONROUT0000000302480360 à 20:33:18 nb ligne traite : 106707, nb ligne differente=106707
indexError ligne  TRONROUT0000000032985341
105000eme occurence : TRONROUT0000000129676453 à 20:34:43 nb ligne traite : 107250, nb ligne differente=107250

In [13]:
with ct.ConnexionBdd('local_otv') as c :
    at.inserer_dico(c, dico)

POUR TRAITEMENT DES VOIES A 2 CHAUSSES : TROUVER PARRALLELE

In [87]:
#liste des troncons (parametre entrant)
liste_troncon=toto

In [88]:
#conversion en geodf
gdf_lignes=gp.GeoDataFrame(df.loc[liste_troncon], geometry='geom')
gdf_lignes.to_file(r'D:\temp\otv\17\2_chaussees\lignes_a_gouper.shp')

In [89]:
#union des geometries
gdf_lignes2=linemerge(gdf_lignes.unary_union)

In [ ]:
gdf_lignes2.wkt

In [90]:
#centroid de la ligne
xmin,ymin,xmax,ymax=gdf_lignes2.interpolate(0.5, normalized=True).buffer(50).bounds
point=gdf_lignes2.interpolate(0.5, normalized=True)

In [91]:
point.wkt

'POINT (385035.1182861876 6561685.156661048)'

In [92]:
#recherche des lignes proches du centroid
lignes_possibles=df.cx[xmin:xmax,ymin:ymax]
lignes_possibles.to_file(r'D:\temp\otv\17\2_chaussees\lignes_possibles.shp')

In [ ]:
lignes_possibles

In [94]:
#uniquement les lignes non présentes dans la liste de troncons avec le même nom de voie
ligne_filtres=lignes_possibles.loc[(~lignes_possibles.index.isin(liste_troncon)) & (lignes_possibles['numero']==gdf_lignes.iloc[0]['numero'])]

In [95]:
#obtenir les distances au centroid
ligne_filtres['distance']=ligne_filtres.geom.apply(lambda x : gdf_lignes2.centroid.distance(x))

c:\users\martin.schoreisz\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [96]:
#garder uniquement la valeur la plus proche du centroid
ligne_proche=ligne_filtres.loc[ligne_filtres['distance']==ligne_filtres['distance'].min()].index.tolist()[0]
ligne_proche

'TRONROUT0000000129676313'

POUR TRAITEMENT DES ROND POINTS

In [4]:
#polygoniser les lignes
#creer la gdf
df.crs={'init':'epsg:2154'}

In [15]:
#creer la lsite des rd points selon le critere atmo aura ; creer une gdf avec la liste
liste_rd_points=[t.buffer(0.1) for t in polygonize(df.geometry) if 12<=((t.length**2)/t.area)<=14] # car un cercle à un rappor de ce type entre 12 et 13
dico_rd_pt=[[i, ((t.length**2)/t.area)] for i,t in enumerate(polygonize(df.geometry)) if 12<=((t.length**2)/t.area)<=14]
gdf_rd_point=gp.GeoDataFrame(dico_rd_pt, geometry=liste_rd_points)
gdf_rd_point.crs={'init':'epsg:2154'}
gdf_rd_point.columns=['id_rdpt', 'facteur','geometry']
#on créer aussi la meme donnees avec un buffer interiuer, pour ne garder que les lignes dans le buffer exteriuer et hors buffer interieur (cas de rond point enjmabeant uine 2*2 et prenant la 2*2 voie qui est dans le polygone
liste_rd_points_int=[t.buffer(-0.1) for t in polygonize(df.geometry) if 12<=((t.length**2)/t.area)<=14]
dico_rd_pt_int=[[i, ((t.length**2)/t.area)] for i,t in enumerate(polygonize(df.geometry)) if 12<=((t.length**2)/t.area)<=14]
gdf_rd_point_int=gp.GeoDataFrame(dico_rd_pt_int, geometry=liste_rd_points_int)
gdf_rd_point_int.crs={'init':'epsg:2154'}
gdf_rd_point_int.columns=['id_rdpt', 'facteur','geometry']

In [63]:
#jointure spataile pour une gdf avec uniquement les lignes des rd_points avec le numéro
l_dans_p=gp.sjoin(df,gdf_rd_point,op='within')

In [64]:
#suprimer les doublons
l_dans_p_ss_doublon=l_dans_p.reset_index().rename(columns={'index':'id_ign'}).drop_duplicates('id_ign').set_index('id_ign')

In [66]:
l_dans_p_int=gp.sjoin(df,gdf_rd_point_int,op='within')

In [67]:
l_dans_p_final=l_dans_p_ss_doublon.loc[~l_dans_p_ss_doublon.index.isin(l_dans_p_int.index.tolist())]

In [68]:
#lignes qui touchent rd points
#1.ligne qui intersectent avec id_rdpt
l_intersct_rdpt=gp.sjoin(df,l_dans_p_final.drop('index_right', axis=1), how='inner',op='intersects')

In [69]:
#2.filtre de celle contenue dans le rd points 
l_intersct_rdpt=l_intersct_rdpt.loc[~l_intersct_rdpt.index.isin(l_dans_p_final.index.tolist())][['id_rdpt','numero_left','codevoie_d_left']]

In [70]:
#trouver le nb de voies qui intersectent chaque rd point et leur noms. renomer les colonnes
carac_rd_pt=(pd.concat([l_intersct_rdpt.groupby('id_rdpt').numero_left.nunique(),
    l_intersct_rdpt.groupby('id_rdpt')['numero_left'].apply(lambda x: ','.join(set(x))),
    l_intersct_rdpt.groupby('id_rdpt')['codevoie_d_left'].apply(lambda x: ','.join(set(x)))], axis=1))
carac_rd_pt.columns=['nb_rte_rdpt', 'nom_rte_rdpt','codevoie_rdpt']

In [ ]:
l_dans_p_final

In [297]:
#ajouter l'id_rdpt aux données
gdf_l_rd_point=pd.concat([df.drop('id_rdpt',axis=1),l_dans_p_final.loc[:,'id_rdpt']],axis=1, sort=False)

In [298]:
#mettre à jour la nature
gdf_l_rd_point['nature']=gdf_l_rd_point.apply(lambda x : 'Rd_pt' if x.id_rdpt>=0 else x['nature'], axis=1)

In [299]:
#ajouter les infos du rd point (nb voies différentes et nom)
gdf_avec_rd_pt=gdf_l_rd_point.merge(carac_rd_pt, how='left',left_on='id_rdpt', right_index=True)

In [320]:
def assigne_rdpt(id_rdpt,numero, liste_num, codevoie, liste_code) : 
    if id_rdpt >=0 :
        if (numero in liste_num) or (codevoie in liste_code) :
            return True
        else : 
            return False

In [321]:
gdf_avec_rd_pt['assigne_rdpt']=gdf_avec_rd_pt.apply(lambda x : assigne_rdpt(x['id_rdpt'],x['numero'], x['nom_rte_rdpt_y'], x['codevoie_d'],x['codevoie_rdpt']),axis=1)

In [ ]:
#gdf_avec_rd_pt.loc[gdf_avec_rd_pt.loc[:,'id_rdpt']==l_dans_p['id_rdpt']]
gdf_avec_rd_pt['id_rdpt']==l_dans_p['id_rdpt'].astype('float64')
#l_dans_p.loc[l_dans_p.loc[:,'id_rdpt']].sort_index().sort_index(axis=1)])

In [ ]:
#pour export et verif uniquement

#gdf_l_rd_point.to_file(r'D:\temp\otv\17\test_rd_point\test2.shp')
#gdf_rd_point.to_file(r'D:\temp\otv\17\test_rd_point\test1.shp')
#l_intersct_rdpt.to_file(r'E:\Boulot\otv\test_linearisation_auto\test3.shp')
df.to_file(r'E:\Boulot\otv\test_linearisation_auto\test7.shp')
#df.to_file(r'D:\temp\otv\17\test_rd_point\test5.shp')

In [91]:
','.join(set(['a','a','b','c']))

'b,c,a'

In [228]:
id_ign_ligne='TRONROUT0000000342862858'
df_ligne = df.loc[id_ign_ligne]
ligne_traite_troncon=[]
ligne_traite_troncon.append(id_ign_ligne)
liste_ligne_suivantes=[] 
liste_ligne_touchees=[]

In [ ]:
for key, value in {'nb_intrsct_src':['source', 'src_geom'],'nb_intrsct_tgt':['target', 'tgt_geom']}.items() :
    df_touches_source = df.loc[(~df.index.isin(ligne_traite_troncon)) & ((df['source'] == df_ligne[value[0]]) | (df['target'] == df_ligne[value[0]]))]
    df_rd_pt=df.loc[df['id_rdpt']==df_touches_source.iloc[0]['id_rdpt']]
    l_df_rd_pt=df.loc[df.index.isin(gp.sjoin(df,df_rd_pt, how='inner',op='intersects').index.unique().tolist())]
    l_df_rd_pt2=l_df_rd_pt.loc[~l_df_rd_pt.index.isin(df_rd_pt.index.tolist())].index.unique().tolist()
    l_df_rd_pt3=df.loc[df.index.isin(l_df_rd_pt2),'codevoie_d'].unique().tolist()
    print(l_df_rd_pt3)
    #liste_ligne_touchees+=df_touches_source.index.tolist()

In [233]:
df_touches_source['id_rdpt'].values.tolist()

[nan]

# TEST

In [138]:
%%time
a=np.array([i for i in range(100000)])
c=[]
for i,b in enumerate(a) :
    if b not in a :
        continue
    c=[b,b+1]
    a=a[np.isin(a,c, invert=True)]
    if i%50000==0 : print(i)

AttributeError: module 'numpy' has no attribute 'aray'

In [137]:
%%time
a=[i for i in range(100000)]
c=[]
for i,b in enumerate(a) :
    if b not in a :
        continue
    c=[b,b+1]
    a=[x for x in a if x not in c]
    if i%50000==0 : print(i)

0
50000
Wall time: 5min 14s