# <h1 style="text-align:center;font-size:36px">***NOTEBOOK DE BAC A SABLE***</h1>

In [1]:
%load_ext autoreload
%autoreload 2
import sys
sys.path.append(r'C:\Users\martin.schoreisz\git\otv\otv\Transfert_Donnees')
sys.path.append(r'C:\Users\\martin.schoreisz\git\Outils\Outils\Martin_Perso')
import pandas as pd
import geopandas as gp
import numpy as np
from shapely import wkt
import altair as alt
import csv, re, os, statistics, filecmp, unidecode
from math import sqrt, pi, exp
import Connexion_Transfert as ct
import Import_trafics as it
import Donnees_horaires as dh
import Visualisation as vi
import Outils

import sqlalchemy

In [3]:
with ct.ConnexionBdd('local_otv_boulot') as c : 
    df=pd.read_sql("select * from comptage.na_2010_2019_p where gestionnai='Bordeaux Metropole'", c.sqlAlchemyConn)

In [63]:
df_explode=df[['id_comptag', 'id_cpt']].assign(tmp=df.id_cpt.str.split(',')).explode('tmp')

In [17]:
df_explode

                                             id_comptag     id_cpt   tmp
0               BdxMet-avenue de branne--0.4989;44.8426        789   789
1     BdxMet-cours du general de gaulle--0.6277;44.7555    225,227   225
1     BdxMet-cours du general de gaulle--0.6277;44.7555    225,227   227
2             BdxMet-cours henri brunet--0.5558;44.8698  1514,1515  1514
2             BdxMet-cours henri brunet--0.5558;44.8698  1514,1515  1515
...                                                 ...        ...   ...
1181    BdxMet-chemin du pas de la cote--0.5392;44.7822  1759,1760  1759
1181    BdxMet-chemin du pas de la cote--0.5392;44.7822  1759,1760  1760
1182             BdxMet-chemin du phare--0.6933;44.8521       1574  1574
1183          BdxMet-rue francois villon--0.514;44.8706       1668  1668
1184      BdxMet-place de la république--0.7153;44.8932        575   575

[1818 rows x 3 columns]

In [19]:
df_excel=pd.read_excel(r'C:\Users\martin.schoreisz\Box\Dossier_Perso\OTV\donnees_gestionnaires\BordeauxMetropole\historique\2019\base_comptages_routiers_finale.xlsx')

In [32]:
dfv85=df_explode.merge(df_excel.assign(IDENT=df_excel.IDENT.astype(str)), right_on='IDENT', left_on='tmp', how='inner')

In [38]:
dfv85V2=dfv85[['id_comptag', 'id_cpt', 'tmp', 'IDENT', 'V85_VL', 'V85_PL', 'annee']].copy()#.loc[]
dfv85V2['V85_PL']=dfv85V2.V85_PL.apply(lambda x : np.NaN if x in ('NS', 'NC') else float(x))
dfv85V2['V85_VL']=dfv85V2.V85_VL.apply(lambda x : np.NaN if x in ('NS', 'NC') else float(x))

In [64]:
dfv85V2.groupby(['id_cpt','id_comptag', 'annee']).agg({'V85_VL':np.mean, 'V85_PL':np.mean}).to_csv(r'C:\Users\martin.schoreisz\Box\Dossier_Perso\OTV\travail\echanges\BM_V85_ponctuel.csv')

In [69]:
df_indic=pd.concat([dfv85V2.groupby(['id_cpt','id_comptag', 'annee']).agg({'V85_VL':np.mean}).reset_index().rename(
            columns={'V85_VL':'valeur'}).assign(indicateur='v85vl'),
          dfv85V2.groupby(['id_cpt','id_comptag', 'annee']).agg({'V85_PL':np.mean}).reset_index().rename(
            columns={'V85_PL':'valeur'}).assign(indicateur='v85pl')])

In [72]:
with ct.ConnexionBdd('local_otv_boulot') as c : 
    df_indic.loc[~df_indic.valeur.isna()].to_sql('vitesses_bm', c.sqlAlchemyConn)

In [75]:
with ct.ConnexionBdd('local_otv_boulot') as c : 
    dfv85V2.groupby(['id_cpt','id_comptag', 'annee']).agg({'V85_VL':np.mean, 'V85_PL':np.mean}).reset_index().to_sql('vitesses_bm_old_schema', c.sqlAlchemyConn)